<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.dao.IUserDao">
    <select id="getUsers" resultType="com.ma.pojo.User">
    select * from user
    </select>

    <insert id="insert" parameterType="com.ma.pojo.User">
        insert into USER(id, name, pwd) value (#{id}, #{name}, #{pwd})
    </insert>
</mapper>