<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"></setting>
    </settings>
    <environments default="development">
        <!--可以有多套测试myatis的环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUniode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="mcd861828"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/ma/dao/UserMapper.xml"></mapper>
    </mappers>
</configuration>